#top{
    text-align: center;
    font-family: "Euphemia UCAS";
}

#button{
    position: relative;
    top: 10px;
}

#track{
    position: relative;
    top: 20px;
    font-family: "Euphemia UCAS";
}

